---
// Redirects to the default locale (`pt`)
// This redirect is instant and should be invisible to the user.
import { SITE_TITLE } from '../consts';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="refresh" content="0;url=/pt/" />
		<link rel="canonical" href="/pt/" />
		<title>{SITE_TITLE}</title>
	</head>
	<body></body>
</html>
